.custom-footer {
  width: 100%;
  background-color: #1a202c; /* Gris oscuro uniforme */
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff; /* Color blanco para el texto */
}

.custom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-link {
  color: #a0aec0; /* Gris claro para los enlaces */
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #ffffff; /* Color blanco para el hover */
}
